@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    height: 8px !important;
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #00aeef;
}

body {
    background-color: #233138;
    display: flex;
    justify-content: center;
}